{% extends "menu.html" %}
{% load static %}
{% block content %}

    <table border="2px" width="500px">
        <tr>
            <th>Order Id</th>
            <th>Customer Name</th>
            <th>Amount</th>
        </tr>
        <tr>
            <td>{{order}}</td>
            <td>{{customer}}</td>
            
            <td>{{order.get_cart_total}}</td>
        </tr>
        <tr><td><a href="{% url 'process' order %}"> Continue </a></td></tr>
          
    
    </table>


    {% endblock content %}