asgiref==3.3.0
certifi==2020.12.5
chardet==3.0.4
COVID19Py==0.3.0
crypto==1.4.1
Django==3.1.3
django-crispy-forms==1.10.0
django-shopping-cart==0.1
idna==2.10
Naked==0.1.31
numpy==1.19.5
Pillow==8.1.0
pycryptodome==3.9.9
pycryptodomex==3.9.9
pytz==2020.4
PyYAML==5.3.1
requests==2.25.0
shellescape==3.8.1
sqlparse==0.4.1
urllib3==1.26.2
