{% extends "menu.html" %}
{% load static %}

{% block content %}

<div class="row">
	<div class="col-lg-6">
		<div >
            <img src="{% static 'images/1.jpg' %}" alt="Ecommerce" width="400" height="400" />
		</div>
    </div>

    <div class="col-lg-6">
        <div class="box-element" style="background-color:rgb(54, 55, 56);">
            
            <h3> Login </h3>
            <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value = "Login">
            <form>
           
        </div>
    </div>
</div>
{% endblock content %}