{% extends "menu.html" %}
{% load static %}
{% block content %}

<div class="container">
  <!--<img src="{% static 'images/bg1(4).jpg' %}" alt="Ecommerce" style="width:100%"/>-->
 <h5> BUY ACCESSORIES FOR WOMEN & MEN
ESSENTIAL WOMENS ACCESSORIES</h5>
<h6>
There is no end to all the accessories that can be added to an outfit to give it a little something. Some of them have a particular function. Others are there simply to embellish. There are also some that combine both functionality and style. For a sportsperson, the wristband and headband are there for a reason and serve a particular purpose. On the other hand, shoe accessories such as rivets, designer laces and the likes, function as a style element. Then, of course, there are clothing accessories, which contribute to the look and feel of an ensemble.

It is possible to achieve an entirely different look with the same clothes but with a different set of accessories. This is often the secret of fashion gurus who seem to transform into one avatar after the next, with the contents of just one bag. These days, the availability of all accessories online has made life so simple, and we’re here to tell you how to achieve this.
</h6></div>


{% endblock content %}
