{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% block title %}
        {% endblock title %}        
    </head>
    <body>
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand " href="{% url 'home' %}"><img src="{% static 'images/icon.png' %}" width="60"/></a>
        
    
       
              {% if request.user.is_authenticated %}
              <a class="nav-link" href="{% url 'men' %}">MEN</a>
                <a href="{% url 'logout' %}">LOGOUT</a>|
                <a href="{% url 'cart' %}">
                <img  id="cart-icon" src="{% static 'images/cart.png' %}">
                </a>
                <p id="cart-total">0</p>
             
              
              {% else %}
              
                <a href="{% url 'login' %}">LOGIN</a>|
                <a href="{% url 'signup' %}">SIGN UP</a>
              
    
               {% endif %}
             
             
            
    
          
        
      </nav>
    
         <div class="container">
                <br>
                {% block content %}
    
    
                {% endblock content %}
             </div>
    
    
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script><!------------------------------------------------------------------------------------------>
     

 <!-- Site footer -->
 <footer class="site-footer">
    <div class="container">
      <div class="row">
        

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="#">MEN</a></li>
            <li><a href="#">WOMEN</a></li>
            <li><a href="#">KIDS</a></li>
            <li><a href="#">HOME DECORE</a></li>
            <li><a href="#">MAKEUP</a></li>
            <li><a href="#">PLANTS</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Contribute</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="#">MEN</a></li>
              <li><a href="#">WOMEN</a></li>
              <li><a href="#">KIDS</a></li>
              <li><a href="#">HOME DECORE</a></li>
              <li><a href="#">MAKEUP</a></li>
              <li><a href="#">PLANTS</a></li>
            </ul>
          </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">THEECOMMERCEWEBAPP</a>.
          </p>
        </div>

        
      </div>
    </div>
</footer>
  <!-- End Footer  -->


    </body>
</html>
